.search_container {
  color: #232323;
  position: relative;
  height: 100%;
  // .search__input {
  //   position: absolute;
  //   width: 100%;
  // }
  .search_content {
    padding: 108px 36px 24px 36px;
    height: 100%;
    box-sizing: border-box;
  }
  .search__history__list {
    width: 100%;
    height: 60px;
    white-space: nowrap;
    margin: 30px 0;
  }
  .search__history__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search__history__title__label {
      font-size: 32px;
    }
    .search__history__title__icon {
      padding: 15px;
    }
  }
  .search__history__list__item {
    padding: 10px 30px;
    font-size: 24px;
    background-color: #f8f8f8;
    color: #616161;
    border-radius: 30px;
    margin-right: 20px;
    display: inline-block;
  }
  .search__hot {
    margin-top: 10px;
    .search__hot__list__item {
      margin: 30px 0;
    }
    .search__hot__list__item__index {
      font-size: 36px;
      font-weight: 700;
      margin-right: 40px;
      color: #9e9e9e;
      &.spec {
        color: #f13745;
      }
    }
    .search__hot__list__item__info {
      flex: 1;
      .search__hot__list__item__info__title {
        font-size: 36px;
        color: #4a4a4c;
        &.spec {
          font-weight: 700;
          color: #333237;
        }
      }
      .search__hot__list__item__info__score {
        font-size: 28px;
        color: #bbbbbb;
        margin-left: 20px;
      }
      .search__hot__list__item__info__icon {
        max-width: 60px;
        margin-left: 40px;
        &.spec {
          max-width: 30px;
        }
      }
      .search__hot__list__item__info__desc {
        font-size: 26px;
        color: #cccccc;
        margin-top: 10px;
      }
    }
  }
}