@import '../../../../base.scss';
.searchResult_container {
  height: 100%;
  &.hasMusicBox {
    padding-bottom: 120px;
  }
  .search_content {
    padding: 88px 36px 24px 36px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    .search_content__nodata {
      text-align: center;
      font-size: 30px;
      color: #888888;
      padding: 20px 0;
    }
    .at-tabs__header {
      position: absolute;
      background: #ffffff;
      z-index: 10;
    }
    .at-tabs {
      position: relative;
    }
    .at-tabs-pane--active {
      height: 100%;
    }
    .at-tabs__body {
      height: 100%;
      padding-top: 88px;
      box-sizing: border-box;
      // overflow-x: hidden;
    }
    .search_content__scroll {
      height: 100%;
    }
    .search_content__title {
      font-size: 38px;
      font-weight: 700;
      padding: 20px 0;
    }
    .search_content__more {
      text-align: center;
      font-size: 24px;
      line-height: 50px;
      padding: 15px 0;
      color: #888888;
    }
  }
  .searchResult__music {
    padding: 10px 30px 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    .searchResult__music__info {
      flex: 1;
      overflow: hidden;
      .searchResult__music__info__name {
        font-size: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .searchResult__music__info__desc {
        font-size: 24px;
        color: #888888;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .searchResult__music__icon {
      font-size: 30px;
      color: #dddddd;
      padding: 40px 0 40px 80px;
    }
  }
  .search_content__playList__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .search_content__playList__item__cover {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      margin-right: 20px;
      display: block;
    }
    .search_content__playList__item__info {
      flex: 1;
      .search_content__playList__item__info__title {
        width: 95%;
        @include text-ellipsis;
        margin-bottom: 10px;
        font-size: 30px;
      }
      .search_content__playList__item__info__desc {
        font-size: 20px;
        color: #bbbbbb;
        display: flex;
      }
      .search_content__playList__item__info__desc__nickname {
        margin: 0 10px;
      }
    }
  }
  .search_content__video__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .search_content__video__item__cover--wrap {
      position: relative;
      font-size: 20px;
      color: #ffffff;
      .search_content__video__item__cover--playtime {
        position: absolute;
        right: 30px;
        top: 5px;
        display: flex;
        align-items: center;
      }
    }
    .search_content__video__item__cover {
      width: 200px;
      height: 120px;
      border-radius: 10px;
      margin-right: 20px;
      display: block;
    }
    .search_content__video__item__info {
      flex: 1;
      .search_content__video__item__info__title {
        margin-bottom: 10px;
        font-size: 28px;
      }
      .search_content__video__item__info__desc {
        font-size: 20px;
        color: #bbbbbb;
        display: flex;
      }
      .search_content__video__item__info__desc__nickname {
        margin: 0 10px;
      }
    }
  }
  .search_content__simquery {
    overflow: hidden;
    .search_content__simquery__item {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 6px 20px;
      font-size: 22px;
      background-color: #f8f8f8;
      color: #616161;
      border-radius: 20px;
    }
  }
  .search_content__artist__item {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    .search_content__artist__item__cover {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
      background-color: #f8f8f8;
    }
    .search_content__artist__item__info {
      flex: 1;
    }
    .search_content__artist__item__desc {
      font-size: 24px;
      color: #bbbbbb;
      margin-top: 10px;
    }
  }
}
