.seaechResult_container {
  &.hasMusicBox {
    padding-bottom: 120px;
  }
  .seaechResult__music {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    .seaechResult__music__info {
      flex: 1;
      overflow: hidden;
      .seaechResult__music__info__name {
        font-size: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .seaechResult__music__info__desc {
        font-size: 24px;
        color: #888888;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .seaechResult__music__icon {
      font-size: 30px;
      color: #dddddd;
      padding: 40px 0 40px 80px;
    }
  }
}
